@import './css/reset.css';

.icon-car {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.filter-select {
  width: 300px;
  border: 1px solid var(--text-grey-clr);
  border-radius: 5px;
}

.filter-select:focus-within {
  border: 2px solid var(--select-focus-within);
}

@media screen and (min-width: 768px) {
  .filter-select {
    width: 180px;
  }
}

@media screen and (min-width: 1440px) {
  .filter-select {
    width: 150px;
  }
}
